<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Compare Phones Prices</title>
</head>
<body>
    <h3>Welcome! Compare smartphones prices from 3 websites: KSP, Ivory, and Bug.</h3>
    <div id="brand-container">
        <h2>Select a Brand:</h2>
        <div id="brand-menu">
            {% for brand, models in phones_data.items() %}
            <input type="radio" name="brand" value="{{ brand }}" onclick="updateModels('{{ brand }}')">
            {{ brand }}
            {% endfor %}
        </div>
    </div>
    <div id="model-container" style="display: none;">
        <h2>Select a Model:</h2>
        {% for brand, models in phones_data.items() %}
        <div id="models-menu">
            <div id="{{ brand }}-models" style="display: none;"></div>
        </div>
        {% endfor %}
    </div>
    <div id="result-table"></div>
    <div class="loader" style="display: none;"></div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/index.js"></script>
</body>


</html>
